[submodule "third_party/expected"]
	path = cpp/thirdparty/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "third_party/fmt"]
	path = cpp/thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/eigen"]
	path = cpp/thirdparty/eigen
	url = https://github.com/eigen-mirror/eigen.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/Eigen3"]
	path = external/Eigen3
	url = https://gitlab.com/libeigen/eigen.git
