name: Continuous Integration [python]

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  py-cpu:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.8]
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: "recursive"
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: pip3 install -vvv -e .[dev]
    - name: Run sequential tests
      run: ./run_python_tests.sh
    - name: Run asyncio tests
      run: ./run_python_tests.sh --asyncio
    - name: Run mypy
      run: mypy py/farm_ng
