name: Deploy to GitHub Pages

on:
  push:
    branches:
      - farm-ng-core-docs
      - api-reference
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          # cache: yarn

      - name: Install docusaurus dependencies
        working-directory: docs
        run: yarn install --frozen-lockfile
      - name: Test build website
        working-directory: docs
        run: yarn build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build
          publish_branch: docs
