name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: "recursive"
    - name: ccache
      uses: hendrikmuhs/ccache-action@v1
    - name: Install dependencies (Ubuntu)
      working-directory: ./scripts
      run: |
        ./install_deps_ubuntu.sh
      if: matrix.os == 'ubuntu-22.04'

    - name: Download dependencies (proto)
      run: |
        source ./bootstrap_venv.sh

    - name: Install Rust
      shell: bash
      run: curl https://sh.rustup.rs -sSf | sh -s -- -y

    - name: Compile (rust)
      run: |
        source venv/bin/activate
        cargo build
